<li>
	{{name}}

	{{#if eaten}}
	<button class="change-eaten" data-id="{{id}}" data-newEaten="{{eaten}}">EAT IT!</button>
	{{else}}
	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
	{{/if}}

</li>
