<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-newEaten="{{eaten}}">
		{{#if sleep}}Save For Later!{{else}}EAT IT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
